@{ 
    ViewBag.Title = "Home Page";
}
@section Scripts{
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7XnI2pvPQx_pQwanBD4_qeZkAmvtM21o"
        type="text/javascript"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-trip.js"></script>
    <script src="~/js/tripEditorController.js"></script>
    <script src="~/js/tripsController.js"></script>
}
<div class="row" ng-app="app-trip">
    <div ng-view></div>
</div>
